body {
    /* background-color: #dae4eb; */
	font-family: "Lato","db_admanrounded_xregular","open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;

	background-image: url("../../assets/imge/wallpaper.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
 }

 @font-face {
	font-family: 'db_admanrounded_xregular';
	src: url('~assets/style/db_admanrounded_x_v3.2-webfont.woff2');
}

.footerstyle {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}